<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="todosEntities" connectionString="metadata=res://*/mysql.todosModel.csdl|res://*/mysql.todosModel.ssdl|res://*/mysql.todosModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=awesome;password=awesome;persistsecurityinfo=True;database=awesome_todos;port=4040&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>